{{- if .committing -}}
[user]
        name = {{ .name }}
	email = {{ .email }}
{{-   if .have1password }}
	signingkey = key::{{- (onepasswordDetailsFields .onepasswordkeyUUID).public_key.value }}
{{    else }}
	signingkey = key::{{- .manualkey }}
{{-   end -}}
[gpg]
	format = ssh
[gpg "ssh"]
{{-   if .have1password }}
{{-     if .is_wsl }}
	program = {{ expandenv "$winhome/AppData/Local/1Password/app/8/op-ssh-sign.exe" | quote }}
{{     else if eq .chezmoi.os "darwin" }}
	program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"
{{-     end }}
{{   else }}
	program = {{- lookPath "ssh" | quote -}}
{{-   end -}}
[commit]
	gpgsign = true
[push]
        default = simple
[alias]
        jedi = push --force
        goofed = reset --hard origin/master
[pull]
	rebase = false
[init]
	defaultBranch = main
{{- if lookPath "delta" }}
[core]
	pager = delta
	{{- if eq .chezmoi.os "linux" }}
	{{-    if (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}
	sshCommand = "ssh.exe"
	{{-    end -}}
	{{- end }}
[delta]
	navigate = true 	# use n and N to move between diff sections
	light = false		# set to true if using a light-themed terminal
[interactive]
    diffFilter = delta --color-only
[merge]
	conflictstyle = diff3
[diff]
    colormoved = default
{{ else if (not (lookPath "delta")) }}
{{-   if eq .chezmoi.os "linux" }}
{{-     if (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}
[core]
    sshCommand = "ssh.exe"
{{-     end }}
{{-   end }}
{{- end }}
[add.interactive]
	useBuiltin = false
{{- end }}
