{{- if eq .chezmoi.os "linux" }}
  {{- if (and (.chezmoi.kernel.osrelease | lower | contains "microsoft") (lookPath "socat")) -}}
#!/usr/bin/env bash
[ -d ~/.1password ] || mkdir -p ~/.1password
  {{ end -}}
{{ end -}}
