{{- if eq .chezmoi.os "linux" -}}
  {{- if (and (.chezmoi.kernel.osrelease | lower | contains "microsoft") (lookPath "wslvar")) -}}
#!/usr/bin/env bash
winhome="$(wslpath "$(wslvar USERPROFILE 2>/dev/null)")"
export winhome
  {{ end -}}
{{ end -}}
