[Desktop Action Lock]
Exec=/opt/1Password/1password --lock
Name=Lock
X-KDE-Shortcuts=Ctrl+Shift+L

[Desktop Action QuickAccess]
Exec=/opt/1Password/1password --quick-access
Name=Quick Access
X-KDE-Shortcuts=Ctrl+Shift+Space

[Desktop Entry]
Name=1Password
Exec=/opt/1Password/1password %U
Terminal=false
Type=Application
Icon=1password
StartupWMClass=1Password
Comment=Password manager and secure wallet
MimeType=x-scheme-handler/onepassword;x-scheme-handler/onepassword8;
Categories=Office;
Actions=Lock;QuickAccess;
